.App {
  background-color: rgba(218, 218, 235, 0.842);
  height: 1000px;
}
.App header {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  padding-top: 45px;
  color: rgb(153, 129, 197);
}
.App footer {
  position: relative;
  left: 100px;
}
